<!DOCTYPE html>
<html lang="en">

<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/DataLoader.js"></script>
	<script src="js/ViewBuilder.js"></script>
	<script src="js/Controller.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
	<div class="w-95">
		<img src="./images/HCLogo.PNG"></img>
		<br>
		<h1>Welcome to Pass Something</h1>
		<br>
		
		<button id="initialize-load-btn" class="ml-4" onclick="theController.initializeData()">Initialize Load</button>
		<button id="initialize-load-btn" class="ml-4" onclick="theController.emailPasses()">Send Pass Emails</button>
		<label class="ml-2">Date(yyyy-mm-dd):</label> <input maxlength="10" size="10" class="ml-2" type="text" id="for-date"></input>
		<br>
		<button id="initialize-load-btn" class="ml-4" onclick="theController.emailTestPasses()">Send TEST Pass Emails</button>
		<br>
		<label id="integrity-processing" class="d-none ml-4">Please wait while the server processes initialization...</label>
		<br>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="message-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="true">Messaging Sandbox</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Students</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="block-type-tab" data-toggle="tab" href="#block-type" role="tab" aria-controls="block-type" aria-selected="false">Block Type</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Faculty</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#passes" role="tab" aria-controls="passes" aria-selected="false">Passes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="dp-tab" data-toggle="tab" href="#dp" role="tab" aria-controls="dp" aria-selected="false">Decorated Passes</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
				<section id="message-sec">
				<div>
					<label>UserName:</label>
					<input type="text" id="user-name"></input>
					<br>
					<label>Location:</label>
					<input type="text" id="location"></input>
					<br>
					<label>To User:</label>
					<input type="text" id="to-user"></input>
					<br>
					<button id="close-test" onclick="closeTestFunc(event)">close</button>
					<button id="open-test" onclick="openTestFunc(event)">open</button>
					<input id="message-text" type="text" oninput="messageInputFunc(event)"></input>
					<button id="open-semd" onclick="sendTestFunc(event)">send</button>

					<label>WebSocket here</label>
					<div id="content"></div>
				</div>
				</section>
			</div>
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<section id="Integrity">
				<div id="integrity-div">
					<table style="width=50%">
						<thead>
							<tr>
								<th style="width:40%"> Class</th>
								<th style="width:40%"> Method</th>
								<th style="width:20%"> Count</th>
							</tr>
						</thead>
						<tbody id="integrity-tab-totals">
						</tbody>
					</table>
					<br>
					<table style="width:100%">
						<thead>
							<tr>
								<th style="width:10%">Type</th>
								<th style="width:10%"> Class</th>
								<th style="width:10%"> Method</th>
								<th style="width:70%"> Message</th>
							</tr>
						</thead>
						<tbody id="integrity-tab-body">
						</tbody>
					</table>
				</div>
				</section>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="students-tab">
				<div id="student-div">
					<table style="width=50%">
						<thead>
							<tr>
								<th style="width:10%">Id</th>
								<th style="width:10%">Name</th>
								<th style="width:10%">Email</th>
								<th style="width:5%">Blocks</th>
								<th style="width:65%">Schedule</th>
							</tr>
						</thead>
						<tbody id="student-tab-body">
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="faculty-tab">Faculty Goes Here</div>
			<div class="tab-pane fade" id="block-type" role="tabpanel" aria-labelledby="block-type-tab">
				<table style="width=50%">
					<thead>
						<tr>
							<th style="width:50%">Block Name</th>
							<th style="width:50%">Count</th>
						</tr>
					</thead>
					<tbody id="block-type-tab-body">
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="passes" role="tabpanel" aria-labelledby="passes">
				<table style="width=100%">
					<thead>
						<tr>
							<th style="width:10%">Id</th>
							<th style="width:10%">StudentId</th>
							<th style="width:5%">StudentObject</th>
							<th style="width:5%">FromBlock</th>
							<th style="width:10%">Time</th>
							<th style="width:60%">Note</th>
						</tr>
					</thead>
					<tbody id="passes-tab-body">
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="dp" role="tabpanel" aria-labelledby="dp">
				<table style="width=100%">
					<thead>
						<tr>
							<th style="width:8%">Student Id</th>
							<th style="width:8%">Student Name</th>
							<th style="width:8%">Student Email</th>
							<th style="width:8%">HR</th>
							<th style="width:8%">HR Teacher</th>
							<th style="width:8%">HR Email</th>
							<th style="width:8%">From</th>
							<th style="width:8%">From Teacher</th>	
							<th style="width:8%">From Email</th>	

							<th style="width:8%">Time</th>
							<th style="width:30%">Note</th>
						</tr>
					</thead>
					<tbody id="dp-tab-body">
					</tbody>
				</table>
			</div>
		</div>
	</div>
 </body>
 <footer> 
 </footer>



<script>
var theController = new Controller();
 
var content = document.getElementById('content');
var socket=null;
var creds=null;

  
function openTestFunc(e) {
	console.log("in open test func");
	socket = new WebSocket('ws://localhost:1337');
    console.log("here1");
	socket.onopen = function () {
		creds={func:'signin', userName:document.getElementById("user-name").value,userLocation:document.getElementById("location").value};
        socket.send(JSON.stringify(creds));
    };
	  console.log("here2");
	socket.onmessage = receiveMessage;
  console.log("here3");
    socket.onerror = function (error) {
        console.log('WebSocket error: ' + error);
    };
	console.log("here4");
}
function receiveMessage(message) {
console.log("receving->" + message.data);
		var msg=JSON.parse(message.data);
		if ( msg.func =="signinsuccess" ) {
			content.innerHTML += "SUCCESS SIGNIN: " + msg.message  + '<br />';

		} else if ( msg.func == "successSendMessage" ) {
			content.innerHTML += "SUCCESS SEND: " + msg.message  + '<br />';

		} else if ( msg.func == "sendMessage" ) {
			content.innerHTML += "From: " + msg.userName + " ->" + msg.message  + '<br />';
		} else {
			content.innerHTML += "Unknown message->"  + JSON.stringify(msg) + '<br>';
		}
}
function closeTestFunc(e) {
	console.log("in close test func");
	socket.send (JSON.stringify({ func: 'close'} )) ;

	socket.close(3021);
}
function messageInputFunc(e) {
	console.log("messageInputFunc" + document.getElementById(e.srcElement.id).value);

}
function sendTestFunc(e) {
	console.log("sendTestFunc->" + document.getElementById(e.srcElement.id).value);
	var message=document.getElementById("message-text").value;
	creds.func='sendMessage';
	creds.message=message;
	creds.toUserName=document.getElementById("to-user").value;

	socket.send(JSON.stringify(creds));
}
</script>

</html>
