p
p Hello #{name} 
p 
p  
p Simple: #{title}
br
p  
  <div style="border-style:solid;color:black;font-size:14px;border-radius: 5px;border-color: grey;">
    <div>
      <div style="padding-left:20px">
        <label style="font-size:20px">#{title} </label>
      </div>
    </div>
    <hr color="red" style="width:95%">
  </div>  
  <br>

p Regards,
p <a href="https://www.wrestling-vision.com"><img src="www.wrestling-vision.com/images/wv2.PNG" style="width:32px;height:32px; border-radius: 50%;">  Wrestling Vision </img></a>